table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  input{
    width: 100%;
  }
  button{
    width: 100%;

  }
  div{
    height: 11rem;
    width: 100vh;
  }