*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#out{
  color: antiquewhite;
}
#temp{
  font-size: 5rem;
}
#w{
  font-size: 3rem;
}

.pp{
margin-left: 1000rem;

 height: 5rem;
 width: 15rem;
 border-radius: 1rem;
 font-size: 2rem;

}
.jhgf{


 height: 5rem;
 width: 15rem;
 border-radius: 1rem;
 font-size: 2rem;


}

table {

    border-collapse: collapse;
    width: 100%;
    background-color: rgb(64, 106, 91);
    color: aliceblue;
    font-size: 2rem;

  }
  
  td, th {
    border: 1px solid  rgb(112, 225, 186);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    transition: 2s;
    background-color: rgb(127, 224, 190);
  }
  input{
    text-align: center;
    font-size: 5em;
    width: 100%;
    height: 10rem;
  }
  #tt{
    font-size: 5rem;
    height: 10rem;
    width: 100%;

  }
  div{
    height: fit-content;
    width: 100vh;
  
    background-color: rgb(24, 99, 74);
  }
  /* div:hover {
    transform: rotateY(180deg);
    transition: 5s;
  } */
  .one{
  opacity: 0;
  }
  
  .z{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 1rem;
    transform: rotateY(360deg);
    transition: 5s;
    background-color: rgb(13, 54, 40);
    box-shadow: 12rem -1rem 101rem black;


  }